*{
    font-family: 'Space Mono', monospace;
}

#top-banner {
    min-width: 100%;
    background-color: cadetblue;
    color: white;
    border: solid 10px black;
    text-align: center;
    padding: 20px 50px;
    font-size: 20px;
    position: fixed;
    z-index: 10;
    
}

#profile{
    margin: 0 auto; 
}

#profile-photo{
    z-index: 1;
    padding: 30px;
    padding-top: 240px;
    display: inline-block;
}



#profile-photo img{
    width: 300px;
}

#profile-info{
    line-height: 1.4;
    padding: 40px;
    bottom: 120px;
    display: inline-block;
}

#description{
    vertical-align: top;
    line-height: 1.4;
    margin: 40px;
    position: relative;
}

#links{
    padding-top: 20px;
    min-width: 600px;
    top: 50px;
    line-height: 1.4;
    margin: 40px;
    position: relative;
    clear: top;
}

#description li{
    font-size: 25px;
    margin: 15px;
}

#links li{
    font-size: 25px;
    margin: 15px;
}

