#top-banner {
    min-width: 860px;
    background-color: cadetblue;
    color: white;
    border: solid 10px black;
    text-align: center;
    padding: 50px 50px;
}

#profile-photo{
    display: inline-block;
    z-index: 1;
    padding: 10px;
}

#profile-photo img{
    width: 300px;
}

#description{
    display: inline-block;
    position: relative;
    vertical-align: top;
    
    
}

#links{
    border: solid 10px black; 
    min-width: 600px;
    position: relative;
    top: 50px;
    
}

#description li{
    font-size: 25px;
    margin: 15px;
}

#links li{
    font-size: 25px;
    margin: 15px;
}

